<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Professor Edit Schedules</title>
</head>
<table border="1">
    <tr>
        <th>Group Type</th>
        <th>Appointment Name</th>
        <th>Appointment Date</th>
        <th>Slot Start</th>
        <th>Slot End</th>
        <th>Edit</th>
    </tr>

    <th:block th:each="group : ${groups}">
        <tr>
            <td th:text="${group.groupType}"></td>
            <td th:text="${group.appName}"></td>
            <td th:text="${group.appDate}"></td>
            <td th:text="${group.startTime}"></td>
            <td th:text="${group.endTime}"></td>
            <td>
                <form th:action="@{/professor/edit-groups/{id}(id=${group.id})}" method="get">
                    <button type="submit">Edit Group</button><br>
                </form>
            </td>
    </th:block>
    
</table>

<form th:action="@{/professor_dashboard}" method="get">
        <button type="submit">Back to Dashboard</button><br>
</form>
</body>
</html>