<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome, <span th:text="${username}"></span></h1>
<form th:action="@{/professor/create-groups}" method="get">
    <button type="submit">Create Groups</button>
</form>
<form th:action="@{/professor/view-groups}" method="get">
    <button type="submit">View Groups</button>
</form>
<form th:action="@{/professor/edit-groups}" method="get">
    <button type="submit">Edit Groups</button>
</form>
<form th:action="@{/professor/delete-groups}" method="get">
    <button type="submit">Delete Groups</button>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>
